.rodape{
    background-color: white;
    padding: 12px 0;
    margin-top: 80px;
    text-align: center;
    width: 100%;
}

.linha-rodape{
    height: 1px;
    background: var(--roxo-fundo);
    opacity: 50%;
    margin: 20px auto;
    width: 50%;
}

.texto-principal-rodape{
    color: var(--rosa-escuro);
}

footer p{
    color: var(--roxo-fundo);
}

