@import url("autoria.css");
@import url("cabecalho.css");
@import url("detalhes.css");
@import url("introducao.css");
@import url("principais.css");
@import url("recentes.css");
@import url("rodape.css");
@import url("sobrenos.css");

:root {
    --rosa-pastel: #fff0f6;
    --rosa-medio: #f8bbd0;
    --rosa-escuro: #c77dbb;
    --roxo-fundo: #4a314d;
    --texto: #5a445b;
}


*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--rosa-pastel);
    color: var(--texto);
    font-family: 'Poppins', 'Segoe UI', sans-serif;
    height: 100%; /* (Com o objetivo de empurrar o rodapé para baixo) */

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
